[Unit]
Description=dns port forward  
After=network.target docker.service
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/dnsproxy/dns-port-forward config PORT
ExecStop=/etc/dnsproxy/dns-port-forward clean PORT

[Install]
WantedBy=default.target
